* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 9fr;
}
#name{
    width: 350px;
    
}
a{
    text-decoration: none;
}
#email{
    width: 350px;
    
}
#phone{
    width: 350px;
    
}
#info{
    width: 350px;
    
}
.logo{
    margin-left: 10px;
    margin-top: -18px;
    height: 150px;
}

.sidebar{
    border: none;
    height: calc(100vh - 30px);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    
}
hr.hdr{
    margin-top: 35px;
    margin-bottom: 25px;
}
.sidebar p.hdr{
    height: 24px;                       
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: calc(100vh - 30px);
}
main{
    float: center;
}
p.hdr{
    text-align: end;
    margin-bottom: -5px;
    font-size: 16px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(106, 106, 106);
    transition: transform 0.2s ease-out;
    
}
.parent{
    border: none;
    padding: 10px;
}
p.hdr:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.05);
    
}

.logo:hover{
    transform: scale(1.05);
}
p.hdr:hover::before{
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(images/logo.png) no-repeat center;
        background-size: contain;
        transform: translate(-10px, 30%);
        animation-name: slideRight;
        animation-duration: 1s;
        animation-fill-mode: forwards;

}
@keyframes slideRight{
    to{transform: translate(-1px, 30%)}
}
.socials{
    color: rgb(121, 121, 121);
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;

}
.socials a{
    color: inherit;
    text-decoration: none;
}
#instagram:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-out;
    
}
#facebook:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-out;
    
}
#tiktok:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-out;
    
}
@media screen and (max-width:600px){
    main{
        width: auto;
    }
    .sidebar{
        width: 130px;
    }
    .logo{
        width: 95px;
        height: 95px;
    }
}