#container{
    font-family: 'Segoe UI' Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: aliceblue;
    padding: 10px 8px;
    border: 10px solid rgb(134, 1, 1);
    border-radius: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;

}
body{
    background-color: rgb(38, 38, 38);
    height: 95vh;
    display: grid;
    place-items: center;
    align-items: start;
    grid-template-rows: auto minmax(0, 1fr);
}
button{
    font-size: 0.75rem;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(180, 48, 48);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-5px)
}
button:hover{
    background-color: rgb(137, 1, 1);
}
button:active{
    background-color: rgb(156, 1, 1);
}
input{
    font-size: 1.5rem;
    width: 120px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
#diceResult{
    margin: 10px;
    font-size: 1.5rem;
    height: fit-content;
    
}
#diceImages img{
    width: 80px;
    margin: 20px;
    height: fit-content;
   
}
#sndcontainer{
    grid-row: 2;
    margin-top: 10px;
    width: 85%;
    border: 10px solid rgb(134, 1, 1);
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-radius: 10px;
    min-height: calc(95vh - 250px); 
    margin-bottom: 20px;

}